div{
    background-color: coral;
    border:5px solid black;
    padding:10px;
}

.head{
    color: darkblue;
}

#bglime{
    background-color: lime;
}

#bglime span{
    color: red;
}

p{
    color: white;
}

#para{
    color: green;
}

#paragraph{
    color: black;
    font-size: large;
}

ul{
    color: white;
}

ul li:first-child a{
    background-color: yellow;
    color: green;
}

ul li:nth-child(2) a{
    background-color: rgb(182, 6, 182);
    color: blue;
}

ol li:nth-child(2) {
    color: blue;
}

ol li:nth-child(3){
    color: red;
}